<footer class="bg-aptean-dark h-12 text-white flex items-center justify-between px-4">
  <p>Copyright &copy; 2024 Aptean, Inc. All rights reserved.</p>
  <div class="flex gap-2 font-semibold">
    <a href=`${import.meta.env.BASE_URL}terms-of-use/` class="border-b-2 pb-1">Disclaimer, Copyright & Trademarks</a>
  </div>
</footer>